<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <% if (role==="Owner"){%>
        <div><% include ../partials/owner_nav.ejs%></div>
    <%}else if(role==="Broker"){%>
        <div><% include ../partials/broker_nav.ejs%></div>
    <%}else if(role==="Customer"){%>
        <div><%include ../partials/customer_nav.ejs%></div>
    <%}%>
</div>
<div style="margin-top:55px">
    <h2>Edit Profile</h2>
    <form
            method="post"
            action="/owner/<%=hotelName%>/<%=hotelBranch%>/editHotel"
            name="edit_Hotel"
            style="margin:10%"
    >
        <div class="row">
        <div class="col">
            <button
                    class="btn btn-dark"
                    type="button"
                    data-toggle="collapse"
                    data-target="#HotelName"
                    aria-expanded="false"
                    aria-controls="HotelName"
            >
                Change Hotel Name
            </button>
            <div class="collapse" id="HotelName">
                <div class="input-group">
                    <input type="text" name="hotelName" placeholder="Hotel Name" />
                </div>
            </div>
        </div>
            <div class="col">
                <button
                        class="btn btn-dark"
                        type="button"
                        data-toggle="collapse"
                        data-target="#HotelBranch"
                        aria-expanded="false"
                        aria-controls="HotelBranch"
                >
                    Change Hotel Branch
                </button>
                <div class="collapse" id="HotelBranch">
                    <div class="input-group">
                        <input type="text" name="hotelBranch" placeholder="Hotel Branch" />
                    </div>
                </div>
            </div>
            <div class="col">
                <button
                        class="btn btn-dark"
                        type="button"
                        data-toggle="collapse"
                        data-target="#HotelLocation"
                        aria-expanded="false"
                        aria-controls="HotelLocation"
                >
                    Change Hotel Location
                </button>
                <div class="collapse" id="HotelLocation">
                    <div class="input-group">
                        <input type="text" name="hotelLocation" placeholder="Hotel Location" />
                    </div>
                </div>
            </div>
        </div>

        <div class="input-group" style="margin-top:15px">
            <button type="submit" class="btn" name="edit_user">Submit</button>
        </div>
    </form>
</div>
</body>
</html>
